{% extends 'base.html' %}

{% block head %}{% endblock %} 
{% block body %}
    <div class="container-fluid">
      <div class="row front-page">
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1603787081207-362bcef7c144?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1965&amp;q=80"
              class="card-img-top"
              alt="First Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Ox Street</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80"
              class="card-img-top"
              alt="Second Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">REVOLT</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1974&amp;q=80"
              class="card-img-top"
              alt="Third Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Ryan Plomp</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1588361861040-ac9b1018f6d5?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=764&amp;q=80"
              class="card-img-top"
              alt="Fourth Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Peri Stojnic</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row front-page">
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1025&amp;q=80"
              class="card-img-top"
              alt="Fifth Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Luis Felipe Lins</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1571601035754-5c927f2d7edc?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80"
              class="card-img-top"
              alt="Sixth Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Joel Muniz</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80"
              class="card-img-top"
              alt="Seventh Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Daniel Storek</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="card m-2">
            <img
              class="resize"
              src="https://images.unsplash.com/photo-1588099768550-4014589e03e0?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80"
              class="card-img-top"
              alt="Eigth Recomended Image"
            />
            <div class="card-body">
              <h5 class="card-title">
                <a class="link-secondary" href="">Erik Mclean</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %} 